<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>Mongo Scraper</title>
</head>

<body>
{{!-- NAV START --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Mongo Scraper</a>
    <a rold="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class ="navbar-start">
      <a href="/saved" class="navbar-item">
        Saved Articles
      </a>
      <a href="/scrape" class="navbar-item is-primary">
      Scrape Articles
      </a>
      <a href="/" class="navbar-item is-primary">
      Clear Scraped Articles
      </a>
      <a id="delete-saved" class="navbar-item is-primary">
      Clear Saved Articles
      </a>
    </div>
  </div>
</nav>
{{!-- NAV END --}}

{{!-- HERO START --}}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Mongo Scraper
      </h1>
      <h2 class="subtitle">
        New York Times Edition
      </h2>
    </div>
  </div>
</section>
{{!-- HERO END --}}
  {{{body}}}
</body>

</html>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/app.js"></script>
