
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{theID}}</p>
      <button class="delete"  aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <input type="text" id="noteTitle" value="{{theNote.title}}">
      <input type="text" id="noteText" value="{{theNote.body}}">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" article-id="{{theID._id}}">Save</button>
    </footer>
  </div>
</div>
